[Unit]
Description=Check if updates are available
After=network.target

[Service]
User=me
Group=me
Type=oneshot
ExecStart=/usr/bin/count_updates.sh

[Install]
WantedBy=multi-user.target
